@import "tailwindcss";

@theme {
--color-primary: #06583B;
--color-secondary: #0EBE7F;
--color-primary-dark: #05472F;
--color-secondary-light: #2FE8A0;
--color-linearGradient: linear-gradient(135deg, #06583B 0%, #0EBE7F 100%);
--color-bg: #fff;
--color-blue: #155DFC;
--color-text: #222;
--color-pageBackground: #fff;
--color-text-light: #fff;
--color-border: #e5e7eb;
--color-gray-100: #f3f4f6;
--color-gray-200: #e5e7eb;
--color-gray-300: #d1d5db;
--color-gray-400: #9ca3af;
--color-gray-500: #6b7280;
--color-gray-600: #4b5563;
--color-gray-700: #374151;
}

@tailwind base;
@tailwind components;
@tailwind utilities;